
ul {
    margin: 15px 1px 10px 1px;
    font-size: 15px;
}

body {
    background-color: antiquewhite;
    font-family: "Bookman Old Style", fantasy;
    font-size: 13px;
    color: darkslategray;
    text-align: center;
    font-weight: bold;
}

div {
    margin: 3px 1px 1px 1px;
}

div label input {
    margin-left: 10px;

}

h1 {
    margin: 15px 1px 10px 1px;
    font-size: 21px;
}

h5 {
    font-size: 14px;
    margin: -2px 1px 10px 1px;
    text-align: left;
}

dl {
    text-align: right;
    margin-top: -40px;
}

p {
    font-size: 11px;
    margin: 1px 1px 1px 1px;
    text-align: right;
}

.commentBox {
    height: 100px;
    width: 1000px;
}

.userHeader {
    text-align: right;
    margin-bottom: 30px;
    margin-top: -40px;
}

.points {
    background: darkslategrey;
    color: aquamarine;
    text-align: right;
    margin: 1px 10px 10px 1px;
    padding: 2px 2px 2px 2px;
}