<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
>
<head>
    <title>FORUM</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<ul>Forum</ul>
<header>
    <dl th:if="${#httpServletRequest.remoteUser} != null">
        <h4 class="userHeader" th:inline="text">Hello: [[${#httpServletRequest.remoteUser}]]!</h4>
        <form th:action="@{/logout}" method="post">
            <input class="userHeader" type="submit" value="Log out"/>
        </form>
    </dl>
    <dl>
        <form th:action="@{/userSettings}" method="post">
            <input type="hidden" th:value="${#httpServletRequest.remoteUser}" name="user"/>
            <input class="userHeader" type="submit" value="Settings"/>
        </form>
    </dl>
    <dl th:if="${#httpServletRequest.remoteUser} == null">
        <h5 class="userHeader" th:inline="text"><a href="/login">Log In</a></h5></dl>
    <dl class="userHeader">
        <form th:action="@{/allTopics}">
            <input class="userHeader" type="submit" value="Main Page"/>
        </form>
    </dl>
</header>

<h2>
    <table>
        <form action="#" th:action="@{/addNewTopic}" th:object="${topic}" method="post">
            <tr>
                <td>Add new topic:</td>
                <td><input type="text" th:field="*{topicName}" placeholder="Topic title"/></td>
                <td th:if="${#fields.hasErrors('topicName')}" th:errors="*{topicName}">Error</td>
            </tr>

            <tr>
                <td>Tekst tematu:</td>
                <td><input type="text" th:field="*{topicText}" placeholder="Topic"/></td>
                <td th:if="${#fields.hasErrors('topicText')}" th:errors="*{topicText}">Error</td>
            </tr>
            <tr>
                <td>
                    <button type="submit">New topic</button>
                </td>
            </tr>
        </form>
    </table>
</h2>


<h4>
    <form th:each="topic:${allTopics}">
        <table>
            <tr>
                <td>
                    <a th:href="@{/seeTopic(topicId=${topic.getId()})}">
                        <p th:text="${topic.getTopicName()}"></p>
                    </a>
                </td>
                <td>
                    <a th:if="${topic.getUser() != null}"><a th:href="@{/seeUser(userId=${topic.getUser().getId()})}">
                        <p th:text="${topic.getUser()}"></p>
                    </a></a>
                    <a th:if="${topic.getUser() == null}">
                        <p>Account deleted.</p>
                    </a>
                </td>
                <td>
                    <p th:text="${topic.getDate()}"></p>
                </td>
            </tr>
        </table>
    </form>
</h4>
</body>
</html>