<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
>
<head>
    <title>FORUM</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<ul>Forum</ul>
<header>
    <dl th:if="${#httpServletRequest.remoteUser} != null">
        <h4 class="userHeader" th:inline="text">Hello: [[${#httpServletRequest.remoteUser}]]!</h4>
        <form th:action="@{/logout}" method="post">
            <input class="userHeader" type="submit" value="Log out"/>
        </form>
    </dl>
    <dl>
        <form th:action="@{/userSettings}" method="post">
            <input type="hidden" th:value="${#httpServletRequest.remoteUser}" name="user"/>
            <input class="userHeader" type="submit" value="Settings"/>
        </form>
    </dl>
    <dl th:if="${#httpServletRequest.remoteUser} == null">
        <h5 class="userHeader" th:inline="text"><a href="/login">Log In</a></h5></dl>
    <dl class="userHeader">
        <form th:action="@{/allTopics}">
            <input class="userHeader" type="submit" value="Main Page"/>
        </form>
    </dl>
</header>

<table>
    <tr>
        <td>
            <h3 th:text="${actualTopic.getTopicName()}"></h3>
        </td>
        <td>
            <a th:if="${actualTopic.getUser() != null}"><a
                    th:href="@{/seeUser(userId=${actualTopic.getUser().getId()})}">
                <p th:text="${actualTopic.getUser()}"></p>
            </a></a>
            <a th:if="${actualTopic.getUser() == null}">
                <p>Account deleted.</p>
            </a>
        </td>
        <td>
            <p th:text="${actualTopic.getDate()}"></p>
        </td>
        <td th:if="${actualTopic.getUser() !=null}">
            <a th:if="${allUsers.findByUsername(#httpServletRequest.remoteUser).getRole().toString() == 'MODERATOR' || actualTopic.getUser().toString().equals(#httpServletRequest.remoteUser)}">
                <form action="#" th:action="@{/deleteTopic}" th:object="${actualTopic}" method="post">
                    <div>Delete account:</div>
                    <input type="hidden" name="id" th:field="*{id}" th:value="${actualTopic.getId()}"/>
                    <input type="submit" value="Delete topic!"/>
                </form>
            </a>
        </td>

    </tr>
    <tr>
        <td>
            <h5 th:text="${actualTopic.getTopicText()}"></h5>
        </td>

    </tr>
</table>
<table>
    <a th:each="comment:${actualComments}">
        <tr>
            <td>
                <div th:if="${comment.getUser() != null}">
                    <div th:href="@{/seeUser(userId=${comment.getUser().getId()})}">
                        <p th:text="${comment.getUser()}"></p>
                    </div>
                </div>
                <div th:if="${comment.getUser() == null}">
                    <p>Account deleted.</p>
                </div>
                <p th:text="${comment.getDate()}"></p>
            </td>
        </tr>
        <tr>
            <td>
                <h5 th:text="${comment.getCommentText()}"></h5>
                <h5 class="points" th:text="${comment.getPoints()}"></h5>
            </td>
            <td th:if="${comment.getUser() != null}">
                <h5 th:if="${#httpServletRequest.remoteUser.equals(comment.getUser().getUsername())}">
                    <form action="#" th:action="@{/editComment}" method="post">
                        <input type="hidden" name="id" th:value="${comment.getId()}"/>
                        <input type="submit" value="edit"/>
                    </form>
                </h5>

                <h5 th:if="!${#httpServletRequest.remoteUser.equals(comment.getUser().getUsername())}">
                    <a th:if="!${allRatings.findByUserAndComment(allUsers.findByUsername(#httpServletRequest.remoteUser),comment)}">

                        <form action="#" th:action="@{/incrementPoints}" method="post">
                            <input type="hidden" name="id" th:value="${comment.getId()}"/>
                            <input type="hidden" name="username" th:value="${#httpServletRequest.remoteUser}"/>
                            <input type="submit" value="+"/>
                        </form>
                        <form action="#" th:action="@{/decrementPoints}" method="post">
                            <input type="hidden" name="id" th:value="${comment.getId()}"/>
                            <input type="hidden" name="username" th:value="${#httpServletRequest.remoteUser}"/>
                            <input type="submit" value="-"/>
                        </form>
                    </a>
                </h5>
            </td>
        </tr>
    </a>
</table>

<table>
    <form action="#" th:action="@{/addComment}" th:object="${comment}" method="post">
        <tr>
            <td>Comment:</td>
            <td><h4><input class="commentBox" type="text" th:field="*{commentText}"
                           placeholder="Write your comment"/></h4></td>
            <td th:if="${#fields.hasErrors('commentText')}" th:errors="*{commentText}">Error</td>
            <td><input type="hidden" th:value="${actualTopic.getId()}" name="topic"/></td>
            <td>
                <button type="submit">Comment</button>
            </td>
        </tr>
    </form>
</table>

</body>
</html>