<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
>
<head>
    <title>FORUM</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<ul>Forum</ul>
<header>
    <dl th:if="${#httpServletRequest.remoteUser} != null">
        <h4 class="userHeader" th:inline="text">Hello: [[${#httpServletRequest.remoteUser}]]!</h4>
        <form th:action="@{/logout}" method="post">
            <input class="userHeader" type="submit" value="Log out"/>
        </form>
    </dl>
    <dl>
        <form th:action="@{/userSettings}" method="post">
            <input type="hidden" th:value="${#httpServletRequest.remoteUser}" name="user"/>
            <input class="userHeader" type="submit" value="Settings"/>
        </form>
    </dl>
    <dl th:if="${#httpServletRequest.remoteUser} == null">
        <h5 class="userHeader" th:inline="text"><a href="/login">Log In</a></h5></dl>
    <dl class="userHeader">
        <form th:action="@{/allTopics}">
            <input class="userHeader" type="submit" value="Main Page"/>
        </form>
    </dl>
</header>

<h1 th:text="${actualUser.getUsername()}"></h1>

<h4 th:if="${allUsers.findByUsername(#httpServletRequest.remoteUser).getRole().toString() == 'MODERATOR'}">
    <table>
        <form action="#" th:action="@{/deleteUserByModerator}" th:object="${actualUser}" method="post">
            <div>Delete account:</div>
            <input type="hidden" name="username" th:field="*{username}" th:value="${actualUser.getUsername()}"/>
            <input type="submit" value="Delete account!"/>
        </form>
    </table>
</h4>

<table class="usersTopics">
    <a th:each="topic:${actualUser.getTopicList()}">
        <tr>
            <td>
                <a th:href="@{/seeTopic(topicId=${topic.getId()})}">
                    <p th:text="${topic.getTopicName()}"></p>
                </a>
                <p th:text="${topic.getDate()}"></p>
            </td>
        </tr>
    </a>
</table>

</body>
</html>